.padre{
    border: 1px black solid;
    height: 640px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hijo1{
    border: 1px red solid;
    height: 55%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.hijo2{
    border: 1px blue solid;
    height: 50%;
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nietoImpar{
    border: 1px purple solid;
    height: 27%;
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.nietoPar{
    border: 1px purple solid;
    height: 27%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bisnieto{
    border: 1px orange solid;
    height: 27%;
    width: 15%;
}